*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedorheader{       /*ESTILO PARA EL CONTENEDOR DEL MENU PRINCIPAL*/
    background: rgba(57, 89, 117, 0.993);
    margin-top: 0;
    height: 65px;
    width: 100%;
    position: fixed;
    display: flex;
}

.contlogo{       /*ESTILO PARA EL CONTENEDOR QUE CONTIENE LOGO DE LA PAGINA*/
    background-image: url(logo.png);   
    background-size: cover;
    background-position: center;
    width: 15%;
    height: 65px;
}

.continicio{     /*ESTILO PARA EL CONTENEDOR QUE CONTIENE INICIO DEL MENU*/
    width: 15%;
    height: 65px;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.continicio a{   /*PARA QUITAR EL SUBRAYADO DEL INICIO*/ 
    color: white;
    text-decoration: none;
}

.contmenu{      /*ESTILO PARA EL CONTENEDOR DEL RESTO DEL MENÚ*/
    height: 65px;
    width: 70%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav ul{      /*ESTILO PARA DAR MARGEN DERECHO A LA LISTA*/
    margin: 0;
    padding: 0;
    padding-right: 100px;
}

nav ul li{    /*ESTILO PARA MOSTRAR LA LISTA DEL MENÚ EN UNA LÍNEA*/
    display: inline-block;
}

nav ul li a{    /*ESTILO PARA DEJAR ESPACIO ENTRE CADA PALABRA DEL MENÚ*/
    display: block;
    padding: 0 25px;
}

.contmenu a{    /*ESTILO PARA QUITAR SUBRAYADO AL MENÚ*/
    text-decoration: none;
    color: white;
}

.contmenu2{     /*ESTILO PARA CONTENEDOR 2 DE MENÚ*/
    height: 65px;
    width: 100%;
}

.contseccion2{  /*ESTILO PARA SECCIÓN 2 DE PÁGINA*/
    background-image: url(fondo.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height:500px;
    color: white;    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 30px;
}

.textoseccion2{   /*ESTILO PARA CAJA DE TEXTO DE TITULO*/
    height: 100px;
    width: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.botontrailer{   /*ESTILO PARA BOTON DE VER TRAILER*/
    height: 50px;
    width: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: white solid 2px;
    border-radius: 8px;
}

.botontrailer a{  /*ESTILO PARA BOTON DE VER TRAILER*/
    text-decoration: none;
    color: white;
}

.contseccion3{  /*ESTILO PARA SECCIÓN 3 DE PÁGINA*/
    width: 100%;
    height: 400px;
    background: white;
    padding: 0 10%;
}

.acercade{      /*ESTILO PARA TITULO DE SINOPSIS DE LA PELICULA*/
    text-align: center;
    margin: 20px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.descripcion{    /*ESTILO PARA SINOPSIS DE PELÍCULA*/
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}

.espacioseccion3{   /*ESTILO PARA ESPACIO ENTRE SINOPSIS Y FOTOS*/
    width: 100%;
    height: 50px;
}

.contimagenes{    /*ESTILO PARA CONTENEDOR DE IMAGENES*/
    height: 175px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.imagen1{    /*ESTILO PARA IMAGEN 1 SECCIÓN 3*/
    width: 200px;
    background-image: url(imagen1.jpg);
    background-size: cover;
    background-position: center; 
    border: 1px solid transparent;   
    
}

.imagen2{    /*ESTILO PARA IMAGEN 2 SECCIÓN 3*/
    width: 200px;
    background-image: url(imagen2.jpg);
    background-size: cover;
    background-position: center;    
    border: 1px solid transparent;
}

.imagen3{    /*ESTILO PARA IMAGEN 3 SECCIÓN 3*/
    width: 200px;
    background-image: url(imagen3.jpg);
    background-size: cover;
    background-position: center;    
    border: 1px solid transparent;
}

.contseccion4{    /*ESTILO PARA CONTENEDOR SECCION4*/
    width: 100%;
    height: 350px;
    background: rgba(57, 89, 117, 0.993);
    display: flex;
    align-items: stretch;
}

.contcomentarios{     /*ESTILO PARA CONTENEDOR DE COMENTARIOS*/
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.cajacomentario{     /*ESTILO PARA CADA CAJA DE COMENTAIROS*/
    background: white;
    width: 75%;
    height: 30%;
    border: 2px solid white;
    border-radius: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.formulario{   /*ESTILO PARA FORMULARIO DE INGRESO DE COMENTARIOS*/
    padding: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.etiqueta{    /*ESTILO PARA ETIQUETA DE FORMULARIO DE COMENTARIOS*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: white;
}

#comentario{     /*ESTILO PARA LA CAJA DE MENSAJE EN COMENTARIOS*/
    width: 95%;
    height: 100px;
    border: solid 2px black;
    border-radius: 6px;
}

#boton{    /*ESTILO PARA EL BOTÓN DEL FORMULARIO DE COMENTARIOS*/
    border-radius: 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
